<div class="limiter">
    <div class="container-login100">
        <div class="container p-t-50 p-b-90">


            <span class="login100-form-title login100-form-title--tomato p-b-51 ">
                Landing Supermercado
            </span>

            <div class="container p-0">


                <div class="d-flex flex-row">

                    <div class="col p-0">
                        <img src="https://picsum.photos/300/300" alt="" class="d-block mx-auto imgcard">

                        <p class="text-center p-3">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>

                    </div>

                    <div class="col p-0 d-none d-md-block">
                        <img src="https://picsum.photos/300/300" alt="" class="d-block mx-auto imgcard">
                        <p class="text-center p-3">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
                    </div>

                    <div class="col p-0 d-none d-lg-block">
                        <img src="https://picsum.photos/300/300" alt="" class="d-block mx-auto imgcard">
                        <p class="text-center p-3">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
                    </div>

                </div>
            </div>

            <div class="container p-0">
                <div class="d-flex">
                    <div class="col p-0 ">
                        <div class="container-login100-form-btn m-t-17">

                            <a href="/login">
                                <button class="login100-form-btn login100-form-btn--tomato " type="submit">Login</button>
                            </a>

                        </div>
                    </div>
                    <div class="col p-0">

                    </div>
                    <div class="col p-0 ">
                        <div class="container-login100-form-btn m-t-17">

                            <a href="/registroEnc">
                                <button class="login100-form-btn login100-form-btn--tomato " type="submit">Registrarse</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>











        </div>
    </div>
</div>